.editor{
  height: 80vh;
  position: relative;
}

.editor .frame-editor{

  position: absolute;
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
  
  background-color: #FAFAFA;
  border: 1px solid black;
}

.editor .keyframes{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: gray;
}

.keyframes .keyframe{
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 5px;
  background-color: red;
}

.keyframes .keyframe.selected{
  background-color: blue;
}