<div class="editor" ng-controller="Lesson/FrameEditor">
  <hr />

  <div class="frame-editor">
    <!-- <div ng-repeat="ani in currentFrame.animations"></div> -->
  </div>

  <div class="keyframes">
    <div class="keyframe" ng-repeat="kf in lesson.keyframes" ng-click="select_kf(kf.id)" ng-class="{ selected: kf.id === selected_kf_id}">
      {{ $index }}
    </div>

    <button class="btn btn-default" ng-click="insert_keyframe()">
      Add
    </button>

    <button class="btn btn-primary" ng-click="play_from_current_frame()">
      Play
    </button>

    <button class="btn btn-danger" ng-click="delete(selected_kf_id)">X</button>
  </div>
</div>